$('#selected-outfit').html('<div id="<%= @outfit.id %>" class="col-10 item mx-auto"><img src="<%= connect_top_id_to_user(@outfit).image %>" class="mx-auto"><img src="<%= connect_trouser_id_to_user(@outfit).image %>" class="mx-auto"><img src="<%= connect_shoe_id_to_user(@outfit).image %>" class="mx-auto"></div>');

$('#another-outfit').html('<div><%= link_to "別のにする", {controller: "outfits", action: "set_another_outfit", outfit_id: @outfit.id }, {remote: true, method: :get , class: "btn btn-info d-block mx-auto col-4"} %></div>')